@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #06080b;
  font-family: "Inter", sans-serif;
}

.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.children-container {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.button-gradient {
  background: linear-gradient(rgba(255, 255, 255, 0.821) 0%, rgba(1, 26, 255, 0.9) 100%);
}

.wrapper {
  box-shadow:
    0 0 0 1px rgba(254, 253, 255, 0.12),
    0 1px 3px rgba(254, 253, 255, 1),
    0 1px 1px rgba(254, 253, 255, 1),
    0 1px 1px rgba(254, 253, 255, 0.12);
  background: #1a1a1a;
}