@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.children-container {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.button-gradient {
  background: linear-gradient(rgba(0, 0, 0, 0.05) 0%, rgba(1, 26, 255, 0.9) 100%);
}